*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.intro{
	background: yellow;
}
h1{
	color: purple;
	font-weight: bold;
	transition: 0.5s;
}
h3{
	color:black;
}
button{
	border:none;
	border-radius: 8px;
	padding: 10px;
	background:black; 
	color:white;
	letter-spacing: 1.5px;
	font-size: 15px;
	transition: 0.5s;
}
button:hover,h1:hover{
	transform: scale(1.1);
}
button:hover{
	background-color:#4C4B4B;
}
footer{
	color:black;
	background-color:yellow;
	letter-spacing: 0.5px;
}
footer p{
	margin: 0;
	font-size: 15px;
}
@media only screen and (orientation:portrait){
	.intro{
		display:flex;
		flex-direction: column-reverse;
	}
	h1{
		font-size: 30px;
	}
	.act{
		padding-bottom: 100px;
	}
}